<!DOCTYPE html>
<html>
<head>
    <title>productedit</title>
</head>
<body>
    <form action="/products/update" method="post">
        <input type="hidden" name="id" value="<%= product._id %>">
        <input type="text" name="productid" value="<%= product.productid %>">
        <input type="text" name="productname" value="<%= product.productname %>">
        <input type="text" name="seller" value="<%= product.seller %>">
        <input type="text" name="sellerid" value="<%= product.sellerid %>">
        <input type="number" name="number" value=<%= product.number%>>
        <button type="submit">update</button>
    </form>
</body>
</html>