<!DOCTYPE html>
<html>
<head>
    <title>productadd</title>
</head>
<body>
    <form action="/products/add" method="post">
        <input type="text" name="productid" value="productid">
        <input type="text" name="productname" value="productname">
        <input type="text" name="seller" value="seller">
        <input type="text" name="sellerid" value="sellerid">
        <input type="number" name="number" value=0>
        <button type="submit">submit</button>
    </form>
</body>
</html>