<!DOCTYPE html>
<html>
<head>
    <title>userlogin</title>
</head>
<body>

<h1>userlogin</h1>

<% if(isLogin){ %>
    <p>当前登录用户：<%= name %>，<a href="logout" id="logout">退出登陆</a></p>
<% }else{ %>
    <form method="POST" action="login">
        <input type="text" id="name" name="name" value="user3" />
        <input type="password" id="password" name="password" value="password1" />
        <input type="submit" value="登录" id="login" />
    </form>
<% } %>

<script type="text/javascript" src="/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
    $('#login').click(function(evt){
        evt.preventDefault();

        $.ajax({
            url: 'users/login',
            type: 'POST',
            data: {
                name: $('#name').val(),
                password: $('#password').val()
            },
            success: function(data){
                if(data.ret_code === 0){
                    location.reload();
                }
            }
        });
    });
</script>

</body>
</html>
